.data{
    display: flex;
    margin-bottom: 5px;
}

#btn-Action{
    margin-left: 5%;
}
label{
margin: 5%;
}
input{
    border: none;
    border-bottom: 2px solid rgb(41, 44, 209);
}
textarea{
    border: none;
    border-bottom: 2px solid rgb(41, 44, 209);
}
button {
    border: 2px solid rgb(41, 44, 209);
    color:rgb(41, 44, 209);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
 }
  button:hover {
    background-color: rgb(41, 44, 209); /* Green */
    color: white;
}
.boutton{
    display: flex;
    margin-top: 20px;
    
}
#panel{
    text-decoration: underline rgb(41, 44, 209);
    width: 1000px;
    text-align: center;
    margin-left: 5%;
    font-size: 60px;
}
.btn-redirect {
    display: block;
    margin-bottom: 10%;

    
}
.btn-panel{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 100px 240px;
    width:1000px;
    font-size: 30px;
    text-align: center;
}
