.selection h3{
    border-bottom: 1px solid black;
}
.selection h5{
    border-bottom: 1px solid black;
    padding: 1%;
    padding-left: 3%;
}
li{
  margin-top: 0.5%;
}
.btn-secondary{
  float: right;
}
.event_new{
  border: none;
  border-bottom: 2px solid #1c55a3;
  padding-top: 1px;
  border-radius: 5px;
}
.event_new .row {
  margin:2%;
}
.event_new .date{
  background-color: #2d303d;
  color: white;
  border-radius: 5px;
}
.event_new .past-date{
  background-color: #929395;
}
.event_new .date .day{
  font-size: 35px;
}
.event_new .date .month{
  font-size: 18px;
}
.event_new .data {
  background-color: #f2f2f2;
  border-radius: 15px;
}
.event_new .data .justify-content-between p{
  font-style: italic;
  font-size: 14px;
}

#filter {
  border-right: 1px solid;
}
.selectYear{
  padding: 10px 0px;
}
.selectYear .btn-toolbar{
  justify-content: space-around;
}
.selectYear .btn {
  font-size: 30px;
}
.btn-group #prev, .btn-group #next{
  font-size: 18px;
}