img.alignRight{
    float: right;
    margin: 130px 12px 25px 0;
    padding: 15px;
}

p.alignLeft{
    text-align: left;
    text-align: justify;
    
}
p.alignRight{
    text-align: right;
    text-align: justify;
}
a{  
    color: black;
    text-decoration: none;
    outline: none;
}
.link{
    color:#6565a7;
}
a:hover{
    color: #DC3634;
}

.hide{
    display: none;
}