a{  
    color: black;
    text-decoration: none;
    outline: none;

}
.link{
    color:#6565a7;
}
a:hover{
    color: #DC3634;
}

.hide{
    display: none;
}
footer{
    border-top: 1px solid #1c55a3;
    position: sticky;
}

#yt{
    width: 50px;
   
    margin-right: 5%;  
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
#insta{
    width:52px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#fb{
    width:50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.red{
    color:#e82226;
}