a{  
    color:#6565a7;
}
.link{
    transition: all 0.5s ease;
}
div.link:hover{
    background-color: #DC3634;
    /*transform: scale(1.2);*/
}

/*Mise en Page avec Footer*/
header{
    background-color: white;
}
html { height: 100%; }
body{
    min-height:100%; 
    background-color: #8ebdff;
    position:relative;
    padding-bottom: 65px;
}
.header{
    border-bottom: 1px solid #1c55a3; 
    padding-top: 10px; 
    padding-bottom: 10px;
}
.container {
    background-color: white;
    padding-bottom: 1%;
    border-radius: 5px;
}
footer{
    border-top: 1px solid #1c55a3;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 70px;
    background-color: #44444c;
    box-shadow: 0px -1px 10px 0px black;
}
/* ------ */
.navbar-lightgray{
    background-color: rgb(238, 238, 238);
}

#yt{
    width: 50px;
    margin-right: 5%;  
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
#insta{
    width:52px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#fb{
    width:50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#galerie{
    width:52px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.red{
    color:#e82226;
}
.hide{display: none;}