body::after {
	content: '';
	position: absolute;
	transition: 0.4s;
	opacity: 0;
	visibility: hidden;
}
a {
	text-decoration: none;
}
.nav-top {
	/* z-index: 2101;*/
	padding: 10px 20px;
	height: 50px;
}
.nav-drill {
	transform: translateX(-100%);
}
.nav-is-toggled .nav-drill {
	transform: translateX(0);
}
.nav-is-toggled::after {
	opacity: 1;
	visibility: visible;
} 
.nav-drill {
	display: flex;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 250px;
	height: 100vh;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	transition: 0.45s;
}
.nav-drill .nav-items {
	flex: 0 0 100%;
	list-style: none;
	margin-block-start: 0;
	margin-inline-start: 0;
	padding-inline-start: 0;
	background-color: #c7c7c7;
}
.nav-link {
	display: block;
	padding: 0.875em 1em;
	line-height: 1.5em;
	font-weight: 300;
	 
}
.nav-expand-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	transition: 0.3s;
	visibility: hidden;
}
.nav-expand-content .nav-back-link {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}
.nav-expand-content .nav-back-link::before {
	content: '<';
	margin-right: 0.5em;
}
.nav-expand-link {
	display: flex;
	justify-content: space-between;
}
.nav-expand-link::after {
	content: '>';
	flex: 0 1 auto;
}
.nav-expand.active > .nav-expand-content {
	transform: translateX(0);
	visibility: visible;
}